*{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}
title{
    font-size: 0px;
}
body{
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-color: #121212;
    margin: 0;
    padding: 0;
}
p{
    font-size: 23px;
}
header{
    padding: 50px;
    background-color: #1e1e1e;
    text-align: center;
}
nav {
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
nav a {
    color: #004b95;
    text-decoration: none;
    margin: 0 30px;
    font-size: 18px;

}

aside{
    flex: 30px;
    background-color: #004b95;
    padding: 20px;
}

section{
    flex: 70%;
    background: #1e1e1e;
    padding: 20px;
}

article{
    border: 2px solid white;
    background-color: #0e0660;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.foto img {
    max-width: 300px;
}

.descripcion {
    flex: 1;
    margin-left: 20px;
    color: white;
    padding: 50px;
    height: 300px;
}
  
.foto:hover {
    border: 5px solid rgba(47, 38, 91, 0.5); 
}

.redes li a {
    color: #1079e2; 
    font-size: 22px; 
    text-decoration: none; 
    transition: color 0.3s ease; 
    display: block; 
    margin-bottom: 10px; 
}

  
footer a:hover {
    color: #1517aa;
}
  
.redes:visited {
    color: #9E9E9E; 
}
.Formulario {
    max-width: 600px;
    margin: 0 auto 40px auto;
    padding: 20px;
    background-color: #d1d1d1;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.Formulario form{
    max-width: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
}
  
.Formulario h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #121212;
}
  
.Formulario label {
    margin-top: 10px;
    font-weight: bold;
    color: #121212;
}
  
.Formulario input[type="text"],
.Formulario input[type="email"],
.Formulario textarea {
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}
  
.Formulario button {
    padding: 10px 20px;
    background-color: #2718cb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
.Formulario button:hover {
    background-color: #1b1186;
}
.logoEmpresas{
    size: 150px;
    width: 150px;
}