*{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}
title{
    font-size: 0px;
}
body{
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-color: #121212;
    margin: 0;
    padding: 0;
}
p{
    font-size: 23px;
}
header{
    padding: 50px;
    background-color: #1e1e1e;
    text-align: center;
}
nav {
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
nav a {
    color: #004b95;
    text-decoration: none;
    margin: 0 30px;
    font-size: 18px;
}

aside{
    flex: 30px;
    background-color: #004b95;
    padding: 20px;
}

section{
    flex: 70%;
    background: #1e1e1e;
    padding: 20px;
}

article{
    border: 2px solid white;
    background-color: #0e0660;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.fotoPerfil {
    display: block;
    margin: 0 auto; 
    width: 500px;
    height: 500px;
    transition: border 0.3s ease;
}
  
.fotoPerfil:hover {
    border: 5px solid rgba(47, 38, 91, 0.5); 
}

.redes {
    color: #4CAF50; /* Color inicial verde */
    font-size: 22px; /* Tamaño de la fuente más grande */
    text-decoration: none; /* Elimina el subrayado */
    transition: color 0.3s ease; /* Transición suave */
    display: block; /* Hace que el enlace ocupe toda la línea */
    margin-bottom: 10px; /* Espacio entre los enlaces */
  }
  
.redes:hover {
    color: #45a049; /* Color al pasar el mouse */
}
  
.redes:visited {
    color: #9E9E9E; /* Color cuando el enlace ha sido visitado */
}
.Formulario {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d1d1d1;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.Formulario form{
    max-width: 100%;
}
  
.Formulario h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #121212;
}
  
.Formulario label {
    margin-top: 10px;
    font-weight: bold;
    color: #121212;
}
  
.Formulario input[type="text"],
.Formulario input[type="email"],
.Formulario textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.Formulario button {
    padding: 10px;
    background-color: #2718cb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
.Formulario button:hover {
    background-color: #1b1186;
}
.logoEmpresas{
    size: 150px;
    width: 150px;
}